h2 {
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: crimson;
  font-weight: 900;
  text-shadow: rgb(0, 0, 0) 3px 3px 5px;
}

.sec1 {
  height: 10em;
  width: 10em;
  background: -webkit-linear-gradient(left, #003f8e, #f1f9fa);
  border-radius: 2em;
  border-color: crimson;
  border-width: 3px;
  border-style: solid;
  transform: rotate(60deg);
}

.sec2 {
  height: 10em;
  width: 10em;
  background: -webkit-linear-gradient(left, #003f8e, #f1f9fa);
  border-radius: 2em;
  border-color: crimson;
  border-width: 3px;
  border-style: solid;
  transform: rotate3d(200, 200, 2, 30deg);
}
/*
.hero {
  background-image: url('https://www.eoi.es/sites/default/files/inline-images/logoeoiok_horiz_blanco.jpg');
  background-repeat: repeat-x;
  background-size: contain;
}*/
